* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
    font-family: 'Glory', sans-serif;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p, h3 {
    margin: 0;
}

div.top, div.bottom {
    display: flex;
    justify-content: space-between;
}

.time {
    text-align: center;
    font-size: 5em;
    padding-top: 2em;
    opacity: .7;
}

div#games {
    display: flex;
    align-items: center;
}

div#standings {
    display: flex;
    flex-direction: column;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}

div.game img {
    width: 40px;
    height: 40px;
}

div.rank img {
    width: 25px;
    height: 25px;
    margin-right: .5em;
}

div.game {
    border-right: 2px solid white;
    text-shadow: 0px 0px 20px -10px #242424;
    display: grid;
    gap: 5px;
    grid-template: 40px auto / 40px auto;
    padding: 0 10px;
    text-align: center;
}

div.game:last-of-type {
    border: none;
}

.game-away {
    grid-row: 2;
}

.game-day,
.score-home {
    grid-column: 2;
}

.game-time,
.score-away {
    grid-row: 2;
    grid-column: 2;
}

.game-day,
.game-time {
    font-size: 1.1rem; 
}

.game-day {align-self:end}

.score-home,
.score-away {
    font-size: 1.5rem;
    align-self: center;
    padding-left:.5em;
    padding-right: .25em;
}

div.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

p.scores {
    font-size: 1.6em;
    letter-spacing: .3em;
    padding-left: 7px;
}

#author {
    align-self: flex-end;
}